In [65]:
import pandas as pd
import numpy as np
import re

In [66]:
train=pd.read_csv('train.csv')
train

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
5,2011-01-01 05:00:00,1,0,0,2,9.84,12.880,75,6.0032,0,1,1
6,2011-01-01 06:00:00,1,0,0,1,9.02,13.635,80,0.0000,2,0,2
7,2011-01-01 07:00:00,1,0,0,1,8.20,12.880,86,0.0000,1,2,3
8,2011-01-01 08:00:00,1,0,0,1,9.84,14.395,75,0.0000,1,7,8
9,2011-01-01 09:00:00,1,0,0,1,13.12,17.425,76,0.0000,8,6,14
10,2011-01-01 10:00:00,1,0,0,1,15.58,19.695,76,16.9979,12,24,36
11,2011-01-01 11:00:00,1,0,0,1,14.76,16.665,81,19.0012,26,30,56
12,2011-01-01 12:00:00,1,0,0,1,17.22,21.210,77,19.0012,29,55,84
13,2011-01-01 13:00:00,1,0,0,2,18.86,22.725,72,19.9995,47,47,94
14,2011-01-01 14:00:00,1,0,0,2,18.86,22.725,72,19.0012,35,71,106
15,2011-01-01 15:00:00,1,0,0,2,18.04,21.970,77,19.9995,40,70,110
16,2011-01-01 16:00:00,1,0,0,2,17.22,21.210,82,19.9995,41,52,93
17,2011-01-01 17:00:00,1,0,0,2,18.04,21.970,82,19.0012,15,52,67
18,2011-01-01 18:00:00,1,0,0,3,17.22,21.210,88,16.9979,9,26,35
19,2011-01-01 19:00:00,1,0,0,3,17.22,21.210,88,16.9979,6,31,37
20,2011-01-01 20:00:00,1,0,0,2,16.40,20.455,87,16.9979,11,25,36
21,2011-01-01 21:00:00,1,0,0,2,16.40,20.455,87,12.9980,3,31,34
22,2011-01-01 22:00:00,1,0,0,2,16.40,20.455,94,15.0013,11,17,28
23,2011-01-01 23:00:00,1,0,0,2,18.86,22.725,88,19.9995,15,24,39
24,2011-01-02 00:00:00,1,0,0,2,18.86,22.725,88,19.9995,4,13,17
25,2011-01-02 01:00:00,1,0,0,2,18.04,21.970,94,16.9979,1,16,17
26,2011-01-02 02:00:00,1,0,0,2,17.22,21.210,100,19.0012,1,8,9
27,2011-01-02 03:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,4,6
28,2011-01-02 04:00:00,1,0,0,2,18.86,22.725,94,12.9980,2,1,3
29,2011-01-02 06:00:00,1,0,0,3,17.22,21.210,77,19.9995,0,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...
10856,2012-12-18 18:00:00,4,0,1,1,15.58,19.695,46,22.0028,13,512,525
10857,2012-12-18 19:00:00,4,0,1,1,15.58,19.695,46,26.0027,19,334,353
10858,2012-12-18 20:00:00,4,0,1,1,14.76,16.665,50,16.9979,4,264,268
10859,2012-12-18 21:00:00,4,0,1,1,14.76,17.425,50,15.0013,9,159,168
10860,2012-12-18 22:00:00,4,0,1,1,13.94,16.665,49,0.0000,5,127,132
10861,2012-12-18 23:00:00,4,0,1,1,13.94,17.425,49,6.0032,1,80,81
10862,2012-12-19 00:00:00,4,0,1,1,12.30,15.910,61,0.0000,6,35,41
10863,2012-12-19 01:00:00,4,0,1,1,12.30,15.910,65,6.0032,1,14,15
10864,2012-12-19 02:00:00,4,0,1,1,11.48,15.150,65,6.0032,1,2,3
10865,2012-12-19 03:00:00,4,0,1,1,10.66,13.635,75,8.9981,0,5,5
10866,2012-12-19 04:00:00,4,0,1,1,9.84,12.120,75,8.9981,1,6,7
10867,2012-12-19 05:00:00,4,0,1,1,10.66,14.395,75,6.0032,2,29,31
10868,2012-12-19 06:00:00,4,0,1,1,9.84,12.880,75,6.0032,3,109,112
10869,2012-12-19 07:00:00,4,0,1,1,10.66,13.635,75,8.9981,3,360,363
10870,2012-12-19 08:00:00,4,0,1,1,9.84,12.880,87,7.0015,13,665,678
10871,2012-12-19 09:00:00,4,0,1,1,11.48,14.395,75,7.0015,8,309,317
10872,2012-12-19 10:00:00,4,0,1,1,13.12,16.665,70,7.0015,17,147,164
10873,2012-12-19 11:00:00,4,0,1,1,16.40,20.455,54,15.0013,31,169,200
10874,2012-12-19 12:00:00,4,0,1,1,16.40,20.455,54,19.0012,33,203,236
10875,2012-12-19 13:00:00,4,0,1,1,17.22,21.210,50,12.9980,30,183,213
10876,2012-12-19 14:00:00,4,0,1,1,17.22,21.210,50,12.9980,33,185,218
10877,2012-12-19 15:00:00,4,0,1,1,17.22,21.210,50,19.0012,28,209,237
10878,2012-12-19 16:00:00,4,0,1,1,17.22,21.210,50,23.9994,37,297,334
10879,2012-12-19 17:00:00,4,0,1,1,16.40,20.455,50,26.0027,26,536,562
10880,2012-12-19 18:00:00,4,0,1,1,15.58,19.695,50,23.9994,23,546,569
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [67]:
test=pd.read_csv('test.csv')
test

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014
5,2011-01-20 05:00:00,1,0,1,1,9.84,11.365,60,15.0013
6,2011-01-20 06:00:00,1,0,1,1,9.02,10.605,60,15.0013
7,2011-01-20 07:00:00,1,0,1,1,9.02,10.605,55,15.0013
8,2011-01-20 08:00:00,1,0,1,1,9.02,10.605,55,19.0012
9,2011-01-20 09:00:00,1,0,1,2,9.84,11.365,52,15.0013
10,2011-01-20 10:00:00,1,0,1,1,10.66,11.365,48,19.9995
11,2011-01-20 11:00:00,1,0,1,2,11.48,13.635,45,11.0014
12,2011-01-20 12:00:00,1,0,1,2,12.30,16.665,42,0.0000
13,2011-01-20 13:00:00,1,0,1,2,11.48,14.395,45,7.0015
14,2011-01-20 14:00:00,1,0,1,2,12.30,15.150,45,8.9981
15,2011-01-20 15:00:00,1,0,1,2,13.12,15.910,45,12.9980
16,2011-01-20 16:00:00,1,0,1,2,12.30,15.150,49,8.9981
17,2011-01-20 17:00:00,1,0,1,2,12.30,15.910,49,7.0015
18,2011-01-20 18:00:00,1,0,1,2,10.66,12.880,56,12.9980
19,2011-01-20 19:00:00,1,0,1,1,10.66,11.365,56,22.0028
20,2011-01-20 20:00:00,1,0,1,2,10.66,12.120,60,19.0012
21,2011-01-20 21:00:00,1,0,1,2,9.84,11.365,60,16.9979
22,2011-01-20 22:00:00,1,0,1,2,9.84,10.605,65,19.0012
23,2011-01-20 23:00:00,1,0,1,2,9.84,10.605,65,22.0028
24,2011-01-21 00:00:00,1,0,1,2,9.84,11.365,70,16.9979
25,2011-01-21 01:00:00,1,0,1,2,9.84,11.365,70,16.9979
26,2011-01-21 02:00:00,1,0,1,3,9.84,12.120,75,11.0014
27,2011-01-21 03:00:00,1,0,1,3,9.02,10.605,80,19.9995
28,2011-01-21 04:00:00,1,0,1,2,9.02,12.880,87,6.0032
29,2011-01-21 05:00:00,1,0,1,1,9.84,9.850,60,27.9993
...,...,...,...,...,...,...,...,...,...
6463,2012-12-30 18:00:00,1,0,0,2,9.84,10.605,44,19.9995
6464,2012-12-30 19:00:00,1,0,0,1,13.94,18.180,61,0.0000
6465,2012-12-30 20:00:00,1,0,0,1,9.02,9.850,47,22.0028
6466,2012-12-30 21:00:00,1,0,0,1,8.20,10.605,51,11.0014
6467,2012-12-30 22:00:00,1,0,0,1,8.20,9.850,55,12.9980
6468,2012-12-30 23:00:00,1,0,0,1,8.20,9.850,51,15.0013
6469,2012-12-31 00:00:00,1,0,1,1,7.38,9.090,55,12.9980
6470,2012-12-31 01:00:00,1,0,1,1,7.38,9.090,55,12.9980
6471,2012-12-31 02:00:00,1,0,1,1,6.56,8.335,59,11.0014
6472,2012-12-31 03:00:00,1,0,1,1,6.56,9.090,59,7.0015
6473,2012-12-31 04:00:00,1,0,1,1,5.74,8.335,69,7.0015
6474,2012-12-31 05:00:00,1,0,1,1,6.56,7.575,64,12.9980
6475,2012-12-31 06:00:00,1,0,1,1,6.56,8.335,64,11.0014
6476,2012-12-31 07:00:00,1,0,1,1,6.56,9.090,64,8.9981
6477,2012-12-31 08:00:00,1,0,1,1,5.74,7.575,69,8.9981
6478,2012-12-31 09:00:00,1,0,1,2,7.38,10.605,64,7.0015
6479,2012-12-31 10:00:00,1,0,1,2,8.20,10.605,69,8.9981
6480,2012-12-31 11:00:00,1,0,1,2,9.02,11.365,60,12.9980
6481,2012-12-31 12:00:00,1,0,1,2,9.84,11.365,56,12.9980
6482,2012-12-31 13:00:00,1,0,1,2,10.66,12.880,44,11.0014
6483,2012-12-31 14:00:00,1,0,1,2,11.48,13.635,45,15.0013
6484,2012-12-31 15:00:00,1,0,1,2,11.48,14.395,45,8.9981
6485,2012-12-31 16:00:00,1,0,1,2,10.66,12.880,48,12.9980
6486,2012-12-31 17:00:00,1,0,1,2,10.66,14.395,48,6.0032
6487,2012-12-31 18:00:00,1,0,1,2,10.66,13.635,48,8.9981
6488,2012-12-31 19:00:00,1,0,1,2,10.66,12.880,60,11.0014
6489,2012-12-31 20:00:00,1,0,1,2,10.66,12.880,60,11.0014
6490,2012-12-31 21:00:00,1,0,1,1,10.66,12.880,60,11.0014
6491,2012-12-31 22:00:00,1,0,1,1,10.66,13.635,56,8.9981
6492,2012-12-31 23:00:00,1,0,1,1,10.66,13.635,65,8.9981

In [68]:
train.info()
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 12 columns):
datetime      10886 non-null object
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
dtypes: float64(3), int64(8), object(1)
memory usage: 1020.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6493 entries, 0 to 6492
Data columns (total 9 columns):
datetime      6493 non-null object
season        6493 non-null int64
holiday       6493 non-null int64
workingday    6493 non-null int64
weather       6493 non-null int64
temp          6493 non-null float64
atemp         6493 non-null float64
humidity      6493 non-null int64
windspeed     6493 non-null float64
dtypes: float64(3), int64(5), object(1)
memory usage: 456.6+ KB

In [69]:
import calendar
from datetime import datetime
for dailyData in train,test:
    dailyData["date"] = dailyData.datetime.apply(lambda x : x.split()[0])
    dailyData["hour"] = dailyData.datetime.apply(lambda x : x.split()[1].split(":")[0])
    dailyData["weekday"] = dailyData.date.apply(lambda dateString : calendar.day_name[datetime.strptime(dateString,"%Y-%m-%d").weekday()])
    dailyData["month"] = dailyData.date.apply(lambda dateString : calendar.month_name[datetime.strptime(dateString,"%Y-%m-%d").month])

In [70]:
train=train.drop("datetime",axis=1)
train.head()

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,date,hour,weekday,month
0,1,0,0,1,9.84,14.395,81,0.0,3,13,16,2011-01-01,00,Saturday,January
1,1,0,0,1,9.02,13.635,80,0.0,8,32,40,2011-01-01,01,Saturday,January
2,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2011-01-01,02,Saturday,January
3,1,0,0,1,9.84,14.395,75,0.0,3,10,13,2011-01-01,03,Saturday,January
4,1,0,0,1,9.84,14.395,75,0.0,0,1,1,2011-01-01,04,Saturday,January

In [71]:
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,date,hour,weekday,month
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,2011-01-20,00,Thursday,January
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011-01-20,01,Thursday,January
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2011-01-20,02,Thursday,January
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011-01-20,03,Thursday,January
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,2011-01-20,04,Thursday,January

In [72]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10886 entries, 0 to 10885
Data columns (total 15 columns):
season        10886 non-null int64
holiday       10886 non-null int64
workingday    10886 non-null int64
weather       10886 non-null int64
temp          10886 non-null float64
atemp         10886 non-null float64
humidity      10886 non-null int64
windspeed     10886 non-null float64
casual        10886 non-null int64
registered    10886 non-null int64
count         10886 non-null int64
date          10886 non-null object
hour          10886 non-null object
weekday       10886 non-null object
month         10886 non-null object
dtypes: float64(3), int64(8), object(4)
memory usage: 1.2+ MB

In [73]:
from sklearn.preprocessing import LabelEncoder
l_hour=LabelEncoder()
l_hour.fit(train['hour'])
train['hour']=l_hour.transform(train['hour'])
test['hour']=l_hour.transform(test['hour'])

In [74]:
l_week=LabelEncoder()
l_week.fit(train['weekday'])
train['weekday']=l_week.transform(train['weekday'])
test['weekday']=l_week.transform(test['weekday'])

In [75]:
l_month=LabelEncoder()
l_month.fit(train['month'])
train['month']=l_month.transform(train['month'])
test['month']=l_month.transform(test['month'])

In [76]:
train=train.drop(['date','casual','registered'],axis=1)

ValueError: labels ['casual' 'registered'] not contained in axis

In [79]:
test=test.drop(['date'],axis=1)
test.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,hour,weekday,month
0,2011-01-20 00:00:00,1,0,1,1,10.66,11.365,56,26.0027,0,4,4
1,2011-01-20 01:00:00,1,0,1,1,10.66,13.635,56,0.0000,1,4,4
2,2011-01-20 02:00:00,1,0,1,1,10.66,13.635,56,0.0000,2,4,4
3,2011-01-20 03:00:00,1,0,1,1,10.66,12.880,56,11.0014,3,4,4
4,2011-01-20 04:00:00,1,0,1,1,10.66,12.880,56,11.0014,4,4,4

In [80]:
from sklearn.ensemble import RandomForestClassifier

clf=RandomForestClassifier()
clf.fit(train.drop(['count'],axis=1),train['count'])

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [86]:
prediction=clf.predict(test.drop(['datetime'],axis=1))
prediction

array([  3,   5,   5, ...,  71, 102,  77])

In [89]:
submission=pd.DataFrame({'datetime':test['datetime']})
submission['count']=pd.DataFrame(prediction)
submission

                 datetime  count
0     2011-01-20 00:00:00      3
1     2011-01-20 01:00:00      5
2     2011-01-20 02:00:00      5
3     2011-01-20 03:00:00      5
4     2011-01-20 04:00:00      5
5     2011-01-20 05:00:00      2
6     2011-01-20 06:00:00    267
7     2011-01-20 07:00:00    267
8     2011-01-20 08:00:00    257
9     2011-01-20 09:00:00     17
10    2011-01-20 10:00:00    127
11    2011-01-20 11:00:00     35
12    2011-01-20 12:00:00     84
13    2011-01-20 13:00:00     89
14    2011-01-20 14:00:00    164
15    2011-01-20 15:00:00     65
16    2011-01-20 16:00:00     89
17    2011-01-20 17:00:00     89
18    2011-01-20 18:00:00     63
19    2011-01-20 19:00:00     39
20    2011-01-20 20:00:00     48
21    2011-01-20 21:00:00     48
22    2011-01-20 22:00:00     52
23    2011-01-20 23:00:00     52
24    2011-01-21 00:00:00     12
25    2011-01-21 01:00:00     12
26    2011-01-21 02:00:00      5
27    2011-01-21 03:00:00      1
28    2011-01-21 04:00:00      4
29    2011-01-21 05:00:00      1
...                   ...    ...
6463  2012-12-30 18:00:00     21
6464  2012-12-30 19:00:00    121
6465  2012-12-30 20:00:00     57
6466  2012-12-30 21:00:00     21
6467  2012-12-30 22:00:00      3
6468  2012-12-30 23:00:00     66
6469  2012-12-31 00:00:00      5
6470  2012-12-31 01:00:00      5
6471  2012-12-31 02:00:00      2
6472  2012-12-31 03:00:00      2
6473  2012-12-31 04:00:00      2
6474  2012-12-31 05:00:00      2
6475  2012-12-31 06:00:00     88
6476  2012-12-31 07:00:00    444
6477  2012-12-31 08:00:00    397
6478  2012-12-31 09:00:00    220
6479  2012-12-31 10:00:00     35
6480  2012-12-31 11:00:00    108
6481  2012-12-31 12:00:00     97
6482  2012-12-31 13:00:00     82
6483  2012-12-31 14:00:00     90
6484  2012-12-31 15:00:00    147
6485  2012-12-31 16:00:00    144
6486  2012-12-31 17:00:00    108
6487  2012-12-31 18:00:00    103
6488  2012-12-31 19:00:00    373
6489  2012-12-31 20:00:00     71
6490  2012-12-31 21:00:00     71
6491  2012-12-31 22:00:00    102
6492  2012-12-31 23:00:00     77

[6493 rows x 2 columns]

In [90]:
submission.to_csv('submission2.csv',index=False)